<h1 class="mt-4">Profile</h1>
<p class="lead mb-3">Welcome <%= user.name %>.</p>
<% if (user.googleId) { %>
    <p>Logged in with Google.</p>
<% } %>
<% if (user.email) { %>
    <p>Logged in as: <%= user.email %>.</p>
<% } %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/dashboard" class="btn btn-secondary">Dashboard</a>